/* || CART PAGE */
/* Set header image and text */
.cart-header {
    grid-area: 2 / 2 / span 2 / span 11;
    align-items: center;
    text-align: center;
}

#cart-img-header{
    width: 100%;
    height: 100%;
    border: 4px solid #252323;
    box-sizing: border-box;
    border-radius: 60px;
}

#cart-title{
    position: relative;
    align-content: center;
    top: -125%;
    font: bold 96px/121px "Amatic SC";
    color: #FE938C;
    text-align: center;
}

/* Format cart container that will hold object cards */
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    grid-area: 4 / 3 / span 3 / span 6;
}

/* Format card that will hold object information */
.card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

/* Div that will hold Edit and Remove buttons */
.edit-remove {
    display: flex;
    flex-direction: column;
    font: normal 24px/36px Oswald;
    color: #FE938C;
    background-color: transparent;
    border-color: transparent;
}

/* Div that will hold text description of item in cart */
.text {
    grid-area: 4 / 5 / span 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -24px;
    white-space: pre-wrap;
    align-items: flex-start;
    padding-left: 20px;
    font: normal 32px/48px Oswald;
    color: #252323;
}

/* Div that will display the price of the item in the cart */
.price {
    grid-area: 7 / 9 / span 2 / span 3;
    font: normal 36px/48px Oswald;
    text-align: start;
    color: #F5BC3A;
}

/* Image of item in the cart */
.cart-pic {
    grid-area: 4 / 3 / span 2 / span 2;
    border: 2px solid #252323;
    box-sizing: border-box;
    border-radius: 60px;
}

/* Cart total */
#totalDiv, #totalText{
    grid-area: 4 / 9 / span 2 / span 3;
    font: normal 41px/71px Oswald;
    text-align: center;
    color: #252323;
}

/* Checkout and Continue Shopping buttons */
.cart-buttons{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 37.5px;
    font: normal 48px/71px Oswald;
    color: #252323;
}

#checkout{
    grid-area: 6 / 9 / span 1 / span 3;
    background: #FE938C;
}

#cont-shopping{
    grid-area: 7 / 9 / span 1 / span 3;
    font: normal 36px/53.35px Oswald;
    background: #F5BC3A;
}
