/* || CART PAGE */
/* Set header image and text */
.cart-header {
    grid-area: 2 / 2 / span 2 / span 11;
    align-items: center;
    text-align: center;
}

#cart-img-header{
    width: 100%;
    height: 100%;
    border: 4px solid #252323;
    box-sizing: border-box;
    border-radius: 60px;
}

#cart-title{
    position: relative;
    align-content: center;
    top: -125%;
    font: bold 96px/121px "Amatic SC";
    color: #FE938C;
    text-align: center;
}

/* Format picture of item in cart*/
.item-cart{
    font: normal 24px/36px Oswald;
    display: flex;
    justify-content: flex-start;
}

.cart-pic{
    border: 2px solid #252323;
    box-sizing: border-box;
    border-radius: 60px;
}

/* Edit | Remove text */
.edit-remove{
    font: normal 24px/36px Oswald;
    color: #FE938C;
}

/* Text for item in cart */
.item-txt{
    grid-area: 4 / 5 / span 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    color: #252323;
}

.prod-name-cart{
    color: #F5BC3A;
    margin-bottom: -36px;
}

/* Cart total */
.total{
    grid-area: 4 / 9 / span 2 / span 3;
    font: normal 41px/71px Oswald;
    text-align: center;
    color: #252323;
}

/* Checkout and Continue Shopping buttons */
.cart-buttons{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 37.5px;
    font: normal 48px/71px Oswald;
    color: #252323;
}

#checkout{
    grid-area: 6 / 9 / span 1 / span 3;
    background: #FE938C;
}

#cont-shopping{
    grid-area: 7 / 9 / span 1 / span 3;
    font: normal 36px/53.35px Oswald;
    background: #F5BC3A;
}

/* Beginning to format container for Assignment 6B- this is still in progress */
.container{
    grid-area: 4 / 3 / span 3 / span 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.edit-remove {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -24px;
    grid-row: span 2;
}

.price {
    font: normal 24px/36px Oswald;
    color: #252323;
}
